<!-- navbar.html -->
<div class="navbar">
  <div class="navbar-content">
    <a href="/index.html" class="nav-title">Jack Ruan</a>
    <nav class="nav-links">
      <a href="/src/contact.html">Contact</a>
      <div class="dropdown">
        <button class="dropbtn">UI Mode <i class="bi bi-chevron-down"></i></button>
        <div class="dropdown-content">
          <a href="#" data-set-ui="hard">Hard Mode</a>
        </div>
      </div>
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle light/dark mode">
        <i class="bi bi-moon-fill" id="theme-icon"></i>
      </button>
    </nav>
  </div>
</div>