<!-- navbar.html -->
<div class="navbar">
  <div class="navbar-content">
    <a href="/index.html" class="nav-title">Jack Ruan</a>
    <nav class="nav-links">
      <!-- <a href="/src/about.html">About</a> -->
      <!-- <a href="/src/contact.html">Contact</a> -->
      <div class="dropdown">
        <button class="dropbtn">Design <i class="bi bi-chevron-down"></i></button>
        <div class="dropdown-content">
          <a href="#" data-set-theme="dark">Dark</a>
          <a href="#" data-set-theme="light">Light</a>
          <a href="#" data-set-theme="cyberpunk">Cyberpunk</a>
          <a href="#" data-set-theme="ocean">Ocean</a>
        </div>
      </div>
    </nav>
  </div>
</div>