<!-- navbar.html -->
<div class="navbar">
  <div class="navbar-content">
    <a href="/index.html" class="nav-title">Jack Ruan</a>
    <nav class="nav-links">
      <div class="dropdown">
        <button class="dropbtn">UI Mode</button>
        <div class="dropdown-content">
          <a href="#" data-set-theme="dark">Dark Mode</a>
          <a href="#" data-set-theme="midcentury">Mid-Century Modern</a>
          <a href="#" data-set-ui="hard">Naughty (SFW)</a>
        </div>
      </div>
    </nav>
  </div>
</div>